# Building a Reccomendation System for an ecommerce site

In [2]:
import numpy as np
import os
import pandas as pd
os.chdir("C:\\Users\\MANDY\\Desktop\\dataset")
df = pd.read_csv("ecommerce_data.csv",encoding = 'ISO-8859-1')

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
# View a summary of our data
print ("Rows     : " , df.shape[0])
print ("Columns  : " , df.shape[1])
print ("\nFeatures : \n" , df.columns.tolist())
print ("\nMissing values :  ", df.isnull().sum().values.sum())
print ("\nUnique values :  \n", df.nunique())

Rows     :  541909
Columns  :  8

Features :
 ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

Missing values :   136534

Unique values :
 InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [5]:
# Statistics on our numeric columns
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

Note the negative values in Unit price and quantity, it could have likely been an error or perhaps a return. It's not overly critical for our application that we clean it up, for low let's assume we can remove anything negative.

In [6]:
# Removing cancelled orders (shown as negative values in Quantity)
df = df.loc[df['Quantity'] > 0]
df = df.loc[df['UnitPrice'] > 0]
df.describe()

            Quantity      UnitPrice     CustomerID
count  530104.000000  530104.000000  397884.000000
mean       10.542037       3.907625   15294.423453
std       155.524124      35.915681    1713.141560
min         1.000000       0.001000   12346.000000
25%         1.000000       1.250000   13969.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16795.000000
max     80995.000000   13541.330000   18287.000000

In [7]:
# Check for null values
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132220
Country             0
dtype: int64

In [8]:
# Lets see how these records with missing customer ID look
df.loc[df['CustomerID'].isna()].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
1447,536544,21790,VINTAGE SNAP CARDS,9,12/1/2010 14:32,1.66,NaN,United Kingdom

In [9]:
# Number of records and shape before dropping our missing values
df.shape

(397884, 8)

In [9]:
# Let's drop these records since we can't build our required matrixes 
df = df.dropna(subset=['CustomerID'])

In [10]:
# Number of records after dropping our missing values
df.shape

(397884, 8)

In [11]:
# Check for null values
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# Building a customer-item matrix

Something like this:

<div>
<img src="https://images.slideplayer.com/18/6109706/slides/slide_9.jpg" width="500"/>
</div>

In [13]:
# We need a create a matrix that contains the customer IDs as the index, and each invidividual item as a column
# We use the pivot function to use the CustomerID as the index and use the StockCode as columns
# Then we using the Quantity value as the values we display, and finally use the aggfunc to sum up these values

customer_item_matrix = df.pivot_table(index='CustomerID', columns='StockCode', values='Quantity',aggfunc='sum')
customer_item_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
12349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [14]:
# We have quanties, but we don't actually need the exact numbers
# Let's now change all the NaNs to 0 and all values above 1 to 1

customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)
customer_item_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
customer_item_matrix.shape

(4338, 3665)

# Creating out Colaborative Filter

In [15]:
# import our cosine_similarity function from sklearn
from sklearn.metrics.pairwise import cosine_similarity

### Creating out User-to-User Similarity Matrix

In [16]:
# Let's use the sklearn cosine_similarity function to compute the pairwise cosine similarities between the cusomters 

user_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))
user_user_sim_matrix

,0,1,2,3,4,5,6,7,8,9,...,4328,4329,4330,4331,4332,4333,4334,4335,4336,4337
0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,1.000000,0.063022,0.046130,0.047795,0.038484,0.000000,0.025876,0.136641,0.094742,...,0.000000,0.029709,0.052668,0.000000,0.032844,0.062318,0.000000,0.113776,0.109364,0.012828
2,0.000000,0.063022,1.000000,0.024953,0.051709,0.027756,0.000000,0.027995,0.118262,0.146427,...,0.000000,0.064282,0.113961,0.000000,0.000000,0.000000,0.000000,0.000000,0.170905,0.083269
3,0.000000,0.046130,0.024953,1.000000,0.056773,0.137137,0.000000,0.030737,0.032461,0.144692,...,0.000000,0.105868,0.000000,0.000000,0.039014,0.000000,0.000000,0.067574,0.137124,0.030475
4,0.000000,0.047795,0.051709,0.056773,1.000000,0.031575,0.000000,0.000000,0.000000,0.033315,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.044866,0.000000
5,0.000000,0.038484,0.027756,0.137137,0.031575,1.000000,0.000000,0.102568,0.036108,0.089414,...,0.000000,0.157014,0.000000,0.000000,0.000000,0.000000,0.000000,0.037582,0.080278,0.033898
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.138675,0.068680,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.025876,0.027995,0.030737,0.000000,0.102568,0.000000,1.000000,0.000000,0.054109,...,0.000000,0.039590,0.000000,0.000000,0.000000,0.041523,0.049629,0.000000,0.113354,0.000000
8,0.000000,0.136641,0.118262,0.032461,0.000000,0.036108,0.138675,0.000000,1.000000,0.152388,...,0.000000,0.083624,0.148250,0.000000,0.000000,0.000000,0.000000,0.160128,0.034204,0.108324
9,0.000000,0.094742,0.146427,0.144692,0.033315,0.089414,0.068680,0.054109,0.152388,1.000000,...,0.000000,0.082832,0.000000,0.000000,0.000000,0.000000,0.000000,0.079305,0.093170,0.000000
10,0.000000,0.060262,0.000000,0.153389,0.021190,0.068248,0.131056,0.068834,0.072697,0.096010,...,0.000000,0.052686,0.000000,0.061780,0.058247,0.055258,0.066046,0.025222,0.080812,0.056873
11,0.000000,0.000000,0.059131,0.129845,0.067267,0.108324,0.138675,0.000000,0.000000,0.152388,...,0.000000,0.000000,0.000000,0.196116,0.000000,0.000000,0.000000,0.000000,0.051306,0.036108
12,0.000000,0.141447,0.014574,0.136013,0.000000,0.133493,0.000000,0.053856,0.075837,0.037559,...,0.000000,0.061833,0.000000,0.000000,0.091145,0.064851,0.000000,0.078934,0.126455,0.000000
13,0.000000,0.057695,0.020806,0.091376,0.071007,0.050821,0.000000,0.256284,0.027067,0.080430,...,0.000000,0.000000,0.026082,0.000000,0.000000,0.000000,0.073771,0.028172,0.156459,0.038115
14,0.000000,0.000000,0.067420,0.111035,0.076696,0.082339,0.000000,0.207614,0.000000,0.043437,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.097497,0.000000
15,0.000000,0.139000,0.030076,0.140343,0.085536,0.082645,0.000000,0.175971,0.039126,0.067821,...,0.000000,0.063801,0.037702,0.024938,0.047023,0.044610,0.079979,0.081446,0.165275,0.027548
16,0.000000,0.061637,0.266733,0.048810,0.000000,0.000000,0.000000,0.000000,0.000000,0.171850,...,0.000000,0.062869,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.141433,0.000000
17,0.000000,0.047108,0.152894,0.069945,0.057977,0.062242,0.000000,0.078471,0.000000,0.197013,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.045175,0.000000,0.088441,0.015561
18,0.000000,0.084029,0.000000,0.024953,0.000000,0.055513,0.000000,0.000000,0.236525,0.117141,...,0.000000,0.128565,0.056980,0.000000,0.000000,0.000000,0.000000,0.123091,0.013147,0.000000
19,0.000000,0.000000,0.064282,0.035289,0.073127,0.117760,0.000000,0.118771,0.000000,0.041416,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.008240,0.017829,0.048937,0.020282,0.076209,0.083624,0.010980,0.000000,0.034460,...,0.083624,0.050427,0.089398,0.059131,0.000000,0.000000,0.000000,0.048280,0.108286,0.043548
21,0.000000,0.012414,0.026861,0.029492,0.030557,0.032805,0.000000,0.016543,0.034943,0.034612,...,0.000000,0.075974,0.033672,0.000000,0.083992,0.000000,0.000000,0.036370,0.046613,0.082011
22,0.000000,0.084491,0.036564,0.100362,0.083189,0.089309,0.000000,0.135113,0.000000,0.047114,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.063450,0.000000
23,0.000000,0.026334,0.056980,0.093842,0.064820,0.034794,0.000000,0.035093,0.000000,0.036711,...,0.000000,0.000000,0.000000,0.094491,0.000000,0.000000,0.000000,0.000000,0.181280,0.034794
24,0.000000,0.051457,0.074227,0.081497,0.042220,0.045326,0.000000,0.000000,0.048280,0.071734,...,0.000000,0.104973,0.000000,0.000000,0.058026,0.000000,0.000000,0.150756,0.096607,0.067989
25,0.000000,0.079002,0.056980,0.031281,0.064820,0.034794,0.000000,0.070186,0.000000,0.036711,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.164800,0.000000
26,0.000000,0.104510,0.025126,0.055174,0.085749,0.076715,0.000000,0.139272,0.000000,0.048564,...,0.000000,0.000000,0.000000,0.000000,0.039284,0.074536,0.089087,0.000000,0.072670,0.000000
27,0.000000,0.113190,0.086441,0.071180,0.000000,0.052784,0.000000,0.212949,0.037483,0.102102,...,0.000000,0.040748,0.018060,0.000000,0.000000,0.000000,0.025540,0.000000,0.170838,0.043987
28,0.000000,0.031556,0.034139,0.112449,0.077674,0.020847,0.000000,0.189233,0.000000,0.065986,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.207352,0.000000
29,0.000000,0.101060,0.024296,0.080028,0.027639,0.044509,0.000000,0.164601,0.000000,0.046961,...,0.000000,0.000000,0.000000,0.040291,0.000000,0.036037,0.043073,0.000000,0.267030,0.014836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4308,0.117851,0.150959,0.025126,0.151728,0.000000,0.107400,0.000000,0.015475,0.130744,0.080940,...,0.000000,0.177667,0.031497,0.041667,0.039284,0.037268,0.000000,0.170103,0.109005,0.015343
4309,0.000000,0.103557,0.034473,0.075698,0.000000,0.084201,0.000000,0.063693,0.089690,0.077735,...,0.000000,0.121879,0.064820,0.000000,0.026948,0.051131,0.030557,0.070014,0.129613,0.010525
4310,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4311,0.000000,0.015778,0.034139,0.112449,0.000000,0.062541,0.000000,0.084103,0.000000,0.087981,...,0.000000,0.000000,0.000000,0.000000,0.053376,0.000000,0.000000,0.000000,0.078991,0.000000
4312,0.000000,0.069673,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.106600,0.000000,0.000000,0.000000,0.000000,0.000000,0.102062,0.000000,0.046029
4313,0.000000,0.064505,0.046524,0.102162,0.000000,0.113638,0.000000,0.028653,0.060523,0.089924,...,0.000000,0.131590,0.058321,0.000000,0.000000,0.000000,0.000000,0.062994,0.067279,0.000000
4314,0.000000,0.073900,0.266501,0.000000,0.000000,0.032547,0.000000,0.032827,0.000000,0.171701,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.169572,0.032547
4315,0.000000,0.083090,0.022473,0.098698,0.000000,0.068616,0.000000,0.027682,0.000000,0.072395,...,0.000000,0.095346,0.028172,0.037268,0.035136,0.000000,0.000000,0.060858,0.051999,0.041169
4316,0.000000,0.000000,0.000000,0.047782,0.000000,0.053149,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.109109,0.000000,0.000000,0.000000,0.000000,0.000000,0.050347,0.000000
4317,0.000000,0.090041,0.000000,0.166372,0.000000,0.105749,0.000000,0.079993,0.056321,0.041841,...,0.000000,0.091842,0.000000,0.000000,0.033845,0.000000,0.038376,0.058621,0.256697,0.000000
4318,0.000000,0.000000,0.000000,0.022525,0.000000,0.025055,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.102869,0.000000,0.192450,0.000000,0.000000,0.000000,0.000000,0.075165
4319,0.000000,0.095626,0.091960,0.075725,0.026153,0.042116,0.000000,0.070796,0.119630,0.177744,...,0.000000,0.097538,0.028820,0.038125,0.000000,0.034100,0.000000,0.124515,0.086440,0.000000
4320,0.000000,0.022605,0.000000,0.000000,0.000000,0.029867,0.000000,0.000000,0.000000,0.031513,...,0.000000,0.000000,0.122628,0.000000,0.000000,0.000000,0.000000,0.000000,0.070732,0.029867
4321,0.000000,0.054656,0.059131,0.064923,0.000000,0.000000,0.000000,0.036418,0.000000,0.076194,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.080064,0.085511,0.000000
4322,0.000000,0.051312,0.138782,0.000000,0.031575,0.000000,0.000000,0.017095,0.036108,0.017883,...,0.000000,0.000000,0.034794,0.000000,0.000000,0.000000,0.000000,0.000000,0.112389,0.016949
4323,0.000000,0.118835,0.000000,0.052934,0.000000,0.117760,0.000000,0.000000,0.041812,0.062124,...,0.000000,0.136364,0.040291,0.053300,0.100504,0.047673,0.000000,0.174078,0.046480,0.000000
4324,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4325,0.000000,0.037242,0.000000,0.000000,0.000000,0.098414,0.000000,0.049629,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023306,0.000000
4326,0.000000,0.000000,0.000000,0.035289,0.000000,0.039253,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.106600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4327,0.100504,0.049515,0.021427,0.211735,0.024376,0.143929,0.000000,0.013197,0.000000,0.055221,...,0.000000,0.090909,0.000000,0.000000,0.033501,0.000000,0.000000,0.029013,0.185920,0.013084
4328,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4329,0.000000,0.029709,0.064282,0.105868,0.000000,0.157014,0.000000,0.039590,0.083624,0.082832,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.174078,0.037184,0.000000
4330,0.000000,0.052668,0.113961,0.000000,0.000000,0.000000,0.000000,0.000000,0.148250,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016480,0.104383
4331,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.043602,0.000000
4332,0.000000,0.032844,0.000000,0.039014,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.105409,0.000000,0.000000,0.000000,0.043396
4333,0.000000,0.062318,0.000000,0.000000,0.000000,0.000000,0.000000,0.041523,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.105409,1.000000,0.119523,0.000000,0.000000,0.000000
4334,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.049629,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.119523,1.000000,0.000000,0.046613,0.000000
4335,0.000000,0.113776,0.000000,0.067574,0.000000,0.037582,0.000000,0.000000,0.160128,0.079305,...,0.000000,0.174078,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.017800,0.000000
4336,0.000000,0.109364,0.170905,0.137124,0.044866,0.080278,0.000000,0.113354,0.034204,0.093170,...,0.000000,0.037184,0.016480,0.043602,0.000000,0.000000,0.046613,0.017800,1.000000,0.096334
4337,0.000000,0.012828,0.083269,0.030475,0.000000,0.033898,0.000000,0.000000,0.108324,0.000000,...,0.000000,0.000000,0.104383,0.000000,0.043396,0.000000,0.000000,0.000000,0.096334,1.000000

Notice how our column names and indexes have changed

In [59]:
# Also let's check out the shape, it should be a square matrix (i.e. same width and length)
user_user_sim_matrix.shape

(4338, 4338)

In [60]:
user_user_sim_matrix.columns = customer_item_matrix.index
user_user_sim_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
2,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
3,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
4,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

In [17]:
# Let's now re-label the columns so that it's easier to understand
# Now let's change the index from 0 to 4339 to the Customer IDs 

user_user_sim_matrix.columns = customer_item_matrix.index

user_user_sim_matrix['CustomerID'] = customer_item_matrix.index

user_user_sim_matrix = user_user_sim_matrix.set_index('CustomerID')
user_user_sim_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12347.0,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
12348.0,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
12349.0,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
12350.0,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

# Let's find the customers most similar to our test customer, '12358'

In [ ]:
# Sort on the customers most similar to 12358
user_user_sim_matrix.loc[12358].sort_values(ascending=False)

### What items did 12358 buy?

In [18]:
# Sort on the customers most similar to 12358
user_user_sim_matrix.loc[12348].sort_values(ascending=False)

CustomerID
12348.0    1.000000
13027.0    0.348155
17940.0    0.348155
15232.0    0.292685
12548.0    0.286039
12363.0    0.266733
18251.0    0.266501
12738.0    0.257130
15181.0    0.257130
12442.0    0.246183
15978.0    0.243658
14138.0    0.235970
17864.0    0.229341
12585.0    0.218668
16863.0    0.213201
13366.0    0.213201
17284.0    0.211330
14005.0    0.204998
13726.0    0.204837
15786.0    0.199486
12479.0    0.191460
15707.0    0.189934
12676.0    0.185567
17404.0    0.182125
16743.0    0.180794
13081.0    0.180617
15146.0    0.179787
17180.0    0.178796
16763.0    0.177822
12569.0    0.177822
             ...
15775.0    0.000000
15774.0    0.000000
15773.0    0.000000
15813.0    0.000000
15822.0    0.000000
15886.0    0.000000
15843.0    0.000000
15883.0    0.000000
15881.0    0.000000
15869.0    0.000000
15866.0    0.000000
15865.0    0.000000
15864.0    0.000000
15863.0    0.000000
15860.0    0.000000
15847.0    0.000000
15844.0    0.000000
15841.0    0.000000
15823.0    0.000000
15840.0    0.000000
15839.0    0.000000
15838.0    0.000000
15837.0    0.000000
15836.0    0.000000
15835.0    0.000000
15834.0    0.000000
15832.0    0.000000
15830.0    0.000000
15825.0    0.000000
12346.0    0.000000
Name: 12348.0, Length: 4338, dtype: float64

In [19]:
# We use the `nonzero` function in the pandas package as it returns the integer indexes of the elements of the non-zero columns (hence the items bought).
# We convert to set data type so that we can perform comparison operations easily afterward.
# See what items were purchased by our customer '12358.0'
items_bought_by_12348 = set(customer_item_matrix.loc[12348].iloc[customer_item_matrix.loc[12348].to_numpy().nonzero()].index)
items_bought_by_12348

{'21211',
 '21213',
 '21725',
 '21726',
 '21967',
 '21977',
 '21980',
 '21981',
 '21982',
 '21983',
 '21985',
 '22437',
 '22616',
 '22951',
 '22952',
 '23076',
 '23077',
 '23078',
 '84988',
 '84991',
 '84992',
 'POST'}

In [147]:
# Let's see what customer 14145.0 bought
items_bought_by_14145 = set(customer_item_matrix.loc[14145.0].iloc[customer_item_matrix.loc[14145.0].to_numpy().nonzero()].index)
items_bought_by_14145

{'15056BL', '15056N', '15056P', '20679', '85014A', '85014B'}

In [148]:
# What items did 12358 buy, but 14145 didn't buy?
# Those would be good items to recommend to 14145 since they're so similar
items_to_recommend_to_14145 = items_bought_by_12358 - items_bought_by_14145
items_to_recommend_to_14145

{'15060B',
 '21232',
 '22059',
 '22063',
 '22646',
 '37447',
 '37449',
 '48185',
 'POST'}

In [149]:
# Let's get the descriptions of these items 
df.loc[df['StockCode'].isin(items_to_recommend_to_14145), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')

                                   Description
StockCode
POST                                   POSTAGE
22646       CERAMIC STRAWBERRY CAKE MONEY BANK
48185                       DOORMAT FAIRY CAKE
21232           STRAWBERRY CERAMIC TRINKET BOX
22059            CERAMIC STRAWBERRY DESIGN MUG
37449       CERAMIC CAKE STAND + HANGING CAKES
15060B              FAIRY CAKE DESIGN UMBRELLA
37447        CERAMIC CAKE DESIGN SPOTTED PLATE
22063      CERAMIC BOWL WITH STRAWBERRY DESIGN
21232           STRAWBERRY CERAMIC TRINKET POT

# Finding Items to Recommend to a Customer

In [161]:
most_similar_user = user_user_sim_matrix.loc[12358].sort_values(ascending=False).reset_index().iloc[1, 0]
most_similar_user

14145.0

In [0]:
def get_items_to_recommend_cust(cust_a):
  '''returns the items to recommend to a customer using customer similarity'''
  most_similar_user = user_user_sim_matrix.loc[cust_a].sort_values(ascending=False).reset_index().iloc[1, 0]
  items_bought_by_cust_a = set(customer_item_matrix.loc[cust_a].iloc[customer_item_matrix.loc[cust_a].to_numpy().nonzero()].index)
  items_bought_by_cust_b = set(customer_item_matrix.loc[most_similar_user].iloc[customer_item_matrix.loc[most_similar_user].to_numpy().nonzero()].index)
  items_to_recommend_to_a = items_bought_by_cust_b - items_bought_by_cust_a
  items_description = df.loc[df['StockCode'].isin(items_to_recommend_to_a), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')
  return items_description

In [163]:
get_items_to_recommend_cust(12358.0)

                            Description
StockCode
85014B           RED RETROSPOT UMBRELLA
85014A     BLACK/BLUE POLKADOT UMBRELLA

In [167]:
get_items_to_recommend_cust(12348.0)

                               Description
StockCode
21212      PACK OF 72 RETROSPOT CAKE CASES
21975       PACK OF 60 DINOSAUR CAKE CASES

# Item Based Collaborative Filtering

In [168]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [169]:
# Transposing our customer_item_matrix 
item_item_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix.T))
item_item_sim_matrix.head()

       0     1         2         3     ...  3661      3662  3663      3664
0  1.000000   0.0  0.094868  0.091287  ...   0.0  0.067591   0.0  0.078217
1  0.000000   1.0  0.000000  0.000000  ...   0.0  0.016345   0.0  0.000000
2  0.094868   0.0  1.000000  0.115470  ...   0.0  0.071247   0.0  0.010993
3  0.091287   0.0  0.115470  1.000000  ...   0.0  0.000000   0.0  0.000000
4  0.000000   0.0  0.000000  0.000000  ...   0.0  0.000000   0.0  0.000000

[5 rows x 3665 columns]

In [170]:
item_item_sim_matrix.shape

(3665, 3665)

In [171]:
# Let's now re-label the columns so that it's easier to understand
# Now let's change the index from 0 to 3665  to the StockCode 

item_item_sim_matrix.columns = customer_item_matrix.T.index

item_item_sim_matrix['StockCode'] = customer_item_matrix.T.index
item_item_sim_matrix = item_item_sim_matrix.set_index('StockCode')
item_item_sim_matrix.head()

StockCode     10002  10080     10120    10123C  ...  DOT         M  PADS      POST
StockCode                                       ...
10002      1.000000    0.0  0.094868  0.091287  ...  0.0  0.067591   0.0  0.078217
10080      0.000000    1.0  0.000000  0.000000  ...  0.0  0.016345   0.0  0.000000
10120      0.094868    0.0  1.000000  0.115470  ...  0.0  0.071247   0.0  0.010993
10123C     0.091287    0.0  0.115470  1.000000  ...  0.0  0.000000   0.0  0.000000
10124A     0.000000    0.0  0.000000  0.000000  ...  0.0  0.000000   0.0  0.000000

[5 rows x 3665 columns]

In [172]:
# Most similar items to 10080

item_item_sim_matrix.loc['10080'].sort_values(ascending=False)

StockCode
10080     1.000000
23694     0.191346
22039     0.187317
47504H    0.166924
21650     0.165567
            ...
35909B    0.000000
35909A    0.000000
35833P    0.000000
35819P    0.000000
10002     0.000000
Name: 10080, Length: 3665, dtype: float64

In [173]:
# Get the top 10 most similar items 
top_10_similar_items = list(item_item_sim_matrix.loc['10080'].sort_values(ascending=False).iloc[:10].index)
top_10_similar_items

['10080',
 '23694',
 '22039',
 '47504H',
 '21650',
 '90214F',
 '79157B',
 '90206A',
 '84012',
 '22043']

In [174]:
# Now let's make a function that returns the most similar items for an inputted item
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [175]:
# Get the row information fo a specific item
# Note it occurs multple times, but we need juw the basic info
df.loc[df['StockCode'] == '90210A']

      InvoiceNo StockCode  ... CustomerID         Country
28848    538661    90210A  ...    15194.0  United Kingdom
28887    538662    90210A  ...    15159.0  United Kingdom
56707    541110    90210A  ...    15916.0  United Kingdom

[3 rows x 8 columns]

In [176]:
df.loc[df['StockCode'] == '90210A'][:1]

      InvoiceNo StockCode  ... CustomerID         Country
28848    538661    90210A  ...    15194.0  United Kingdom

[1 rows x 8 columns]

In [177]:
# This code checks our df for stock codes similar to those in our top_10_similar_items, we then display only the Stockcode and Description, remove duplicates
# and ten set the index to StockCode
df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]

                                   Description
StockCode
10080                 GROOVY CACTUS INFLATABLE
23694                        PAISLEY PARK CARD
22039                 BOTANICAL LILY GIFT WRAP
47504H              ENGLISH ROSE SPIRIT LEVEL
21650           ASSORTED TUTTI FRUTTI BRACELET
90214F               LETTER "F" BLING KEY RING
79157B                 UBO-LIGHT TRIOBASE BLUE
90206A               GOLD DIAMANTE STAR BROOCH
84012      MAGIC SHEEP WOOL GROWING FROM PAPER
22043             CHRISTMAS CARD SCREEN PRINT

In [0]:
def get_top_similar_items(item):
  top_10_similar_items = list(item_item_sim_matrix.loc[item].sort_values(ascending=False).iloc[:10].index)
  top_10 = df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]
  return top_10

In [180]:
get_top_similar_items('84029E')

                                   Description
StockCode
84029E          RED WOOLLY HOTTIE WHITE HEART.
84029G     KNITTED UNION FLAG HOT WATER BOTTLE
21479            WHITE SKULL HOT WATER BOTTLE
21485         RETROSPOT HEART HOT WATER BOTTLE
22111             SCOTTIE DOG HOT WATER BOTTLE
22112               CHOCOLATE HOT WATER BOTTLE
22114        HOT WATER BOTTLE TEA AND SYMPATHY
23355               HOT WATER BOTTLE KEEP CALM
84030E           ENGLISH ROSE HOT WATER BOTTLE
22632                HAND WARMER RED POLKA DOT
22632                HAND WARMER RED RETROSPOT